# Archivos de desarrollo
.git
.gitignore
.env
.env.example
application-develop.properties
**/application-develop.properties

# IDEs
.idea
.vscode
*.iml
*.iws
*.ipr

# Maven
target/
!target/*.jar
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentación
README.md
HELP.md
SECURITY.md

# Docker
docker-compose.yml
Dockerfile
